<div *ngIf='(options$ | async) != null'>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="name">Name</span>
    </div>
    <input class='form-control' type="text" aria-describedby="name" [defaultValue]="(request$ | async)?.Name"
      [disabled]='(request$ | async)?.Completed' (change)='patchBindRequest($event.target.value, "/Name")' />
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="type">Type</span>
    </div>
    <select class='form-control' aria-describedby="type"
      (change)='patchBindRequest($event.target.value, "/DeviceType")'
      [disabled]='(request$ | async)?.Completed'>
      <option *ngFor='let option of options$ | async' [value]='option.Key'
        [selected]='option.Key == (request$ | async)?.DeviceType'>{{option.Value}}</option>
    </select>
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="completed">Completed</span>
    </div>
    <input class='form-control' [value]="((request$ | async)?.Completed | date: 'short')" disabled="true"/>
  </div>
  <button *ngIf='!(request$ | async)?.Completed' [disabled]='(request$ | async)?.Completed' class='btn btn-primary'
    (click)='executeBindRequest()'>Execute</button>
</div>