bs-datepicker-container {
  z-index: 3000;
  transform: none !important;
  top: 70px !important;
  left: 25px !important;
}
.chart-modal-header {
  display: flex;
  align-items: baseline;
}
.chart-modal-header div:nth-child(1) {
  margin-right: 5%;
}
.chart-modal-header input {
    max-width: 40%;
  }
  
