.bind-container {
  display: flex;
  flex-direction: column;
}
.bind-request {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  margin: 5px;
  border: 1px solid green;
  justify-content: space-between;
}
