<div *ngIf='dev$ | async; let dev'>
  <div>
    <ul class="nav nav-pills">
      <li class='nav-item' *ngIf='(dev.Type === 2)'>
        <a class='nav-link' routerLink='settings/{{16}}' [routerLinkActive]="['active']">Base settings</a>
      </li>
      <li class='nav-item' *ngIf='(dev.Type === 2)'>
        <a class='nav-link' routerLink='settings/{{17}}' [routerLinkActive]="['active']">Dimmer settings</a>
      </li>
      <li class='nav-item' *ngIf='(dev.Type === 2)'>
        <a class='nav-link' routerLink='settings/{{18}}' [routerLinkActive]="['active']">On settings</a>
      </li>
      <li class='nav-item'>
        <a class='nav-link' routerLink='actionLog' [routerLinkActive]="['active']">Action Log</a>
      </li>
    </ul>
  </div>
  <div>
    <div class='form-row'>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="room">Room</span>
        </div>
        <select class='form-control' aria-describedby="room" (change)='patchDevice($event.target.value, "/Room")'
          [value]='dev.Room'>
          <option *ngFor="let room of rooms$ | async">{{room}}</option>
        </select>
      </div>
    </div>
    <div class='form-row'>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="name">Name</span>
        </div>
        <input class='form-control' type="text" aria-describedby="name" [defaultValue]='dev.Name'
          (change)='patchDevice($event.target.value, "/Name")'>
      </div>
    </div>
    <div class='form-row'>
      <div *ngIf='(dev.Type === 1 || dev.Type === 2)' class="input-group mb-3">
        <label for="formControlRange">Brght:&nbsp;{{dev.State.Bright}}</label>
        <input type="range" class="form-control-range" id="formControlRange" [defaultValue]='dev.State.Bright' min="0"
          max="100" step="1" (change)='setBright($event.target.value)'>
      </div>
    </div>
    <div *ngIf='(dev.Type === 1 || dev.Type === 2)' class='form-row mb-3'>
      <div class="col">
        <button class="form-control btn btn-outline-dark" (click)='setBright(dev.State.Bright-10)'>-</button>
      </div>
      <div class="col">
        <button class="form-control btn btn-outline-dark" (click)='setBright(dev.State.Bright+10)'>+</button>
      </div>
    </div>
    <div class='form-row'>
      <div class="input-group mb-3">
        <button class="btn btn-danger" (click)='removeDevice(dev, $event)'>Delete</button>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>