<div>
  <div>
    <a [routerLink]="['/dashboard']">Dashboard</a>
  </div>
  <div>
    <ul class="nav nav-pills">
      <li class='nav-item'>
        <a class='nav-link' routerLink='settings/{{16}}' [routerLinkActive]="['active']">Base settings</a>
      </li>
      <li class='nav-item'>
        <a class='nav-link' routerLink='settings/{{17}}' [routerLinkActive]="['active']">Dimmer settings</a>
      </li>
      <li class='nav-item'>
        <a class='nav-link' routerLink='settings/{{18}}' [routerLinkActive]="['active']">On settings</a>
      </li>
    </ul>

  </div>
  <div>
    <input type="text" name="" id="" [defaultValue]="(dev$ | async)?.name" (change)='patchDevice()'>
  </div>
  <div>
    <button (click)='patchDevice(123)'>Patch</button>
  </div>
  <div>
    <label>State:</label>
    <div>{{(dev$ | async)?.state}}</div>
  </div>
  <div>
    <label>Type: </label>
    <div>{{(dev$ | async)?.type}}</div>
  </div>
  <router-outlet></router-outlet>
</div>