<div>
  <div>
    <ul class="nav nav-pills">
      <li class='nav-item'>
        <a class='nav-link' routerLink='settings/{{16}}' [routerLinkActive]="['active']">Base settings</a>
      </li>
      <li class='nav-item'>
        <a class='nav-link' routerLink='settings/{{17}}' [routerLinkActive]="['active']">Dimmer settings</a>
      </li>
      <li class='nav-item'>
        <a class='nav-link' routerLink='settings/{{18}}' [routerLinkActive]="['active']">On settings</a>
      </li>
      <li class='nav-item'>
        <a class='nav-link' routerLink='actionLog' [routerLinkActive]="['active']">Action Log</a>
      </li>
    </ul>
  </div>
  <div style="width: 25%; margin-left: auto; margin-right: auto">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="room">Room</span>
      </div>
      <select class='form-control' aria-describedby="room" (change)='patchDevice($event.target.value, "/Room")'
        [value]="(dev$ | async)?.Room">
        <option *ngFor='let room of rooms$ | async'>{{room}}</option>
      </select>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="name">Name</span>
      </div>
      <input class='form-control' type="text" aria-describedby="name" [defaultValue]="(dev$ | async)?.Name"
        (change)='patchDevice($event.target.value, "/Name")'>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="name">Bright</span>
      </div>
      <input class='form-control' type="text" aria-describedby="bright" [value]="(dev$ | async)?.State.Bright"
        (change)='setBright($event.target.value)'>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>